<div class='container-fluid bg-dark rounded-bottom carouselStyle'>
   <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
   <div class="carousel-item active ">
      <div class="row no-gutters carousel-bg align-items-center d-flex justify-content-center">
    <div class="col-md-5">
      <img src="Images/psSymbols.jpg" class="card-img carousel-img mt-3 mb-3" alt="kid_with_tiger_plushy" id="carosusel-contain">
    </div>
    <div class="col-md-6">
      <div class="card-body " id="cardBdy">
        <h1 class="card-title text-light text-center">News</h1>
        <p class="card-text text-light sliderText">Explore our latest history on Sony's consoles from 1994-2021</p>
          <div class="d-flex justify-content-center">
           <a href="/gallery" class="btn btn-secondary btn-lg active" id="queryBtn" role="button" aria-pressed="true">Gallery</a>
           </div>
      </div>
    </div>
  </div>
    </div>
   <div class="carousel-item">
      <div class="row no-gutters carousel-bg align-items-center d-flex justify-content-center">
    <div class="col-md-5">
      <img src="Images/ps5about.jpg" class="card-img carousel-img mt-3 mb-3" id="carosusel-contain"
		   alt="kid_with_tiger_plushy">
    </div>
    <div class="col-md-6">
      <div class="card-body " id="cardBdy">
        <h1 class="card-title text-light text-center">Contact</h1>
        <p class="card-text sliderText text-center text-light" id="head-text">Get in contact with us</p>
        <div class="d-flex justify-content-center">
           <a href="/contact" class="btn btn-secondary btn-lg active" id="queryBtn" role="button" aria-pressed="true">Contact Us</a>
           </div>
      </div>
    </div>
  </div>
  </div>
</div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>