<div class="container bg-secondary mt-2 mb-2 form-info">
    <p class="text-center text-white pt-3 pb-3 formWiget">We aim to get back to your queries within 1 to 2 days of receiving your query</p>
</div>