    <div class="container-fluid">
            <div class="container-fluid bg-alert pb-5 pt-5 bg-dark"  id="headerBar">
      <h2 class="text-center text-white"> About Us</h2>
       </div>
   <div class="row no-gutters carousel-bg">
    <div class="col-md-5 sm-3">
      <img src="/images/PlayStationHeaderLogo.jpg" class="card-img carousel-img mt-5 mb-5" alt="kid_with_tiger_plushy" id="aboutUsImg">
    </div>
    <div class="col-md-7 col-sm-5 col-lg-6 align-items-center d-flex justify-content-center">
      <div class="card-body " id="cardBdy">
        <h1 class="card-title text-dark text-center">Who are we?</h1>
        <p class="card-text text-center" id="head-text ">Here we aim to deliver the latest and greatest information about PlayStation. Our goal is to inform people of all ages how Sony Computer Entertainment evolved over the years from the Original console we all know as the PlayStation to what they are doing now currently.</p>
        <p class="card-text text-center" id="head-text">Thank you for stopping by.</p>
      </div>
    </div>
  </div> 
 </div>