  <div class="container-fluid">
   <div class="row no-gutters carousel-bg">
    <div class="col-md-5 sm-3">
      <img src="/images/psMail.jpg" class="card-img carousel-img mt-5 mb-5" alt="PlayStation_Mail_Img" id="aboutUsImg">
    </div>
    <div class="col-md-7 col-sm-5 col-lg-6 align-items-center d-flex justify-content-center">
      <div class="card-body " id="cardBdy">
        <h1 class="card-title text-dark text-center mt-5">Have any queries?</h1>
       {{>contactus-form}}
      </div>
    </div>
  </div> 
 </div>