  <div class="container-fluid">
   <div class="row no-gutters carousel-bg">
    <div class="col-md-5 sm-3">
      <img src="/images/psMail.jpg" class="card-img carousel-img mt-5 mb-5" alt="PlayStation_Mail_Img" id="aboutUsImg">
    </div>
    <div class="col-md-7 col-sm-5 col-lg-6 align-items-center d-flex justify-content-center">
      <div class="card-body " id="cardBdy">
        <h1 class="card-title text-dark text-center mt-5">Have any queries?</h1>
       <form>
        <div class="form-group">
           <label class="ml-3" for="firstname">First Name</label>
          <input type="firstname" class="form-control queryForm" id="fnameForm" aria-describedby="firstname" placeholder="example John">
        </div>
       <div class="form-group">
         <label class="ml-3" for="lastname">Last Name</label>
        <input type="lastname" class="form-control queryForm" id="lnameForm" placeholder="example Doe">
       </div>
         <div class="form-group">
           <label class="ml-3" for="email">Email</label>
       <input type="email" class="form-control queryForm" id="eform" aria-describedby="emailHelp" placeholder="example johndoe@mail.com">
       <small id="emailHelp" class="form-text text-muted ml-3">Your email will be kept private</small>
      </div>
        <div class="form-group">
          <label class="ml-3" for="lastname">Your Query</label>
      <textarea class="form-control queryText" id="textAreaForm" maxlength="850" rows="7" placeholder="Your Query Here..."></textarea>
     </div>
      <div class="container d-flex justify-content-center">
          <button type="button" class="btn btn-primary btn-lg pl-5 pr-5" id="queryBtn">Submit Query</button>
      </div>
      {{>form-info}}
     </form>
      </div>
    </div>
  </div> 
 </div>