   <div class="row no-gutters carousel-bg">
    <div class="col-md-5 sm-3">
      <img src="Images/psMail.jpg" class="card-img carousel-img mt-5 mb-5" alt="PS_Mail">
    </div>
    <div class="col-md-7 col-sm-5 col-lg-6">
      <div class="card-body " id="cardBdy">
        <h1 class="card-title text-light text-center">Thank you for your query</h1>
         <img src="/Images/checkedform.jpg">
      </div>
    </div>
  </div> 