    <div id="galleryBody">
<div>
      <div class="container-fluid" id="galleryCard">
   <div class="row no-gutters carousel-bg">
    <div class="col-md-12 col-lg-7 card-body align-items-center d-flex justify-content-center">
      <div class="card-body mt-5" id="cardBdy">
          <h1 class=" text-center text-white"> PlayStation Gallery</h1>
      </div>
    </div>
           <div class="col-md-12 col-lg-5 mt-5 mb-0">
      <img src="images/psHeader.jpg" class="card-img carousel-img psStyle" alt="kid_with_tiger_plushy">
    </div>
  </div>
       </div>
</div>
<div class="container-fluid bg-alert pb-5 pt-5 bg-dark" id="galleryHeader">
  <h2 class="text-center text-white"> The Console Gallery</h2>
  </div>
<div class="container-fluid">
  <div class="card-deck mt-5">
<div class="card cardStyle card-body align-items-center d-flex justify-content-center">
    <img class="card-img-top cardImg" src="images/ps1Header.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title cardTitleStyle text-center">PlayStation</h3>
    <a href="/gallery/PlayStation" class="btn btn-primary btn-lg active text-center cardBtn" role="button" aria-pressed="true">View PlayStation</a>
    </div>
  </div>
<div class="card cardStyle card-body align-items-center d-flex justify-content-center">
    <img class="card-img-top cardImg" src="images/ps2Header.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title cardTitleStyle text-center">PlayStation 2</h3>
     <a href="/gallery/PlayStation2" class="btn btn-primary btn-lg active text-center cardBtn" role="button" aria-pressed="true">View PlayStation 2</a>
    </div>
  </div>
<div class="card cardStyle card-body align-items-center d-flex justify-content-center">
    <img class="card-img-top cardImg" src="images/ps3Header.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title cardTitleStyle text-center">PlayStation 3</h3>
       <a href="/gallery/PlayStation3" class="btn btn-primary btn-lg active text-center cardBtn" role="button" aria-pressed="true">View PlayStation 3</a>
    </div>
  </div>
</div>
</div>
<div class="container pb-5">
  <div class="card-deck mt-5">
<div class="card cardStyle card-body align-items-center d-flex justify-content-center">
    <img class="card-img-top cardImg" src="images/ps4Header.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title text-center">PlayStation 4</h3>
    <a href="/gallery/PlayStation4" class="btn btn-primary btn-lg active text-center cardBtn" role="button" aria-pressed="true">View PlayStation 4</a>
    </div>
  </div>
<div class="card cardStyle card-body align-items-center d-flex justify-content-center">
    <img class="card-img-top cardImg" src="images/ps5Header.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title text-center">PlayStation 5</h3>
     <a href="/gallery/PlayStation5" class="btn btn-primary btn-lg active text-center cardBtn" role="button" aria-pressed="true">View PlayStation 5</a>
    </div>
  </div>
</div>
        </div>
        </div>