<div class="container-fluid">
   <div class="row no-gutters carousel-bg">
    <div class="col-md-12 col-lg-5 mt-5 mb-0">
      <img src="https://i.pinimg.com/originals/dd/29/59/dd295997bd9ecd631aa24e0f02b6f850.png" class="card-img carousel-img" alt="kid_with_tiger_plushy">
    </div>
    <div class="col-md-12 col-lg-7 card-body align-items-center d-flex justify-content-center">
      <div class="card-body mt-5" id="cardBdy">
          <h1 class=" text-center"> Welcome to Playstation History</h1>
      </div>
    </div>
  </div>
</div>
  <div class="container-fluid bg-alert pb-5 pt-5 bg-dark">
      <h2 class="text-center text-white"> Meet the consoles</h2>
       </div>
       <!--Start of Playstation One Div-->
       <div class="container-fluid" id="psOneStyle">
   <div class="row no-gutters carousel-bg">
    <div class="col-md-12 col-lg-7 card-body align-items-center d-flex justify-content-center">
      <div class="card-body mt-5" id="cardBdy">
          <h1 class=" text-center text-white"> PlayStation</h1>
          <p class="text-white pr-5 pl-5 psText">PlayStation, video game console released in 1994 by Sony Computer Entertainment. The PlayStation, one of a new generation of 32-bit consoles, signaled Sony’s rise to power in the video game world. Also known as the PS One, the PlayStation used compact discs (CDs), heralding the video game industry’s move away from cartridges.</p>
          <p class="text-white text-center pr-5 pl-5 psText">Solid 102.49 million worldwide</p>
            <div class="col text-center">
    </div>
      </div>
    </div>
           <div class="col-md-12 col-lg-5 mt-5 mb-0">
      <img src="images/psOne.jpg" class="card-img carousel-img psStyle" alt="kid_with_tiger_plushy">
    </div>
  </div>
       </div>
<!--End of Playstation One Div-->
       <!--Start of Playstation Two Div-->
       <div class="container-fluid" id="psTwoStyle">
   <div class="row no-gutters carousel-bg">
    <div class="col-md-12 col-lg-5 mb-0">
      <img src="images/PlayStation2.jpg" class="card-img carousel-img psStyle" alt="kid_with_tiger_plushy">
    </div>
    <div class="col-md-12 col-lg-7 card-body align-items-center d-flex justify-content-center">
      <div class="card-body mt-5" id="cardBdy">
          <h1 class=" text-center text-white"> PlayStation 2</h1>
          <p class="text-white psText pl-5 pr-5">The PS2 was launched in March 2000 in Japan, October in North America, and November in Europe. Sales of the console, games and accessories pulled in $250 million on the first day. PlayStation 2 software is distributed on CD-ROM and DVD-ROM. In addition the console can play audio CDs and DVD movies, and is backwards compatible with PlayStation games.</p>
          <p class="text-white psText pl-5 pr-5 text-center">The PlayStation 2 has sold over 150 million units worldwide</p>
            <div class="col text-center">
    </div>
      </div>
    </div>
  </div>
</div>
       <!--End of Playstation Two Div-->
<!--Start of Playstation Portable Div-->
       <div class="container-fluid" id="pspStyle">
   <div class="row no-gutters carousel-bg">
    <div class="col-md-12 col-lg-7 card-body align-items-center d-flex justify-content-center">
      <div class="card-body mt-5" id="cardBdy">
          <h1 class=" text-center text-white"> Playstation Portable</h1>
          <p class="text-white psText pl-5 pr-5">The original PlayStation Portable, dubbed the PSP 1000, was the first handheld to use an optical disc format, also known as UMD (universal media disc). With it's multimedia capabilities and PlayStation 2 quality visuals, the PSP helped start a revolution in the portable gaming industry. the PSP was the first machine to truly combine multimedia and games into one package. Gamers could enjoy all their favorite music, movies and photos, all on one glorious little machine</p>
          <p class="text-white psText pl-5 pr-5 text-center">The PSP has sold 80–82 million units worldwide</p>
            <div class="col text-center">
    </div>
      </div>
    </div>
           <div class="col-md-12 col-lg-5 mt-5 mb-0">
      <img src="images/psp.jpg" class="card-img carousel-img psStyle" alt="kid_with_tiger_plushy">
    </div>
  </div>
</div>

<!--End of Playstation Portable Div-->
       <!--Start of Playstation 3 Div-->
      <div class="container-fluid" id="ps3Style">
   <div class="row no-gutters carousel-bg">
    <div class="col-md-12 col-lg-5 mt-5 mb-0">
      <img src="images/psThree.jpg" class="card-img carousel-img psStyle" alt="kid_with_tiger_plushy">
    </div>
    <div class="col-md-12 col-lg-7 card-body align-items-center d-flex justify-content-center">
      <div class="card-body mt-5" id="cardBdy">
          <h1 class=" text-center text-white"> Playstation 3</h1>
          <p class="text-white psText pl-5 pr-5">The PlayStation 3 launched on November 11, 2006 in Japan and November 17, 2006 in North America. It was by far the most expensive console by Sony, releasing with a $499 price tag for the 20GB model and $599 for the 60GB model due to the new Blu-ray format. The system was highly criticized early on for its high price tag, Sixaxis controller and poorly developed multi-platform games.</p>
          <p class="text-white psText pl-5 pr-5 text-center">The PSP has sold 87.41 million units worldwide</p>
            <div class="col text-center">
    </div>
      </div>
    </div>
  </div>
</div>
       <!--End of Playstation 3 Div-->
<!--Start of Playstation Vita Div-->
       <div class="container-fluid" id="psVitaStyle">
   <div class="row no-gutters carousel-bg">
    <div class="col-md-12 col-lg-7 card-body align-items-center d-flex justify-content-center">
      <div class="card-body mt-5" id="cardBdy">
          <h1 class=" text-center text-white"> PSVita</h1>
          <p class="text-white psText pl-5 pr-5">
           The PS Vita was the successor to the successful PSP handheld machine and was released in Japan in December 2011. The machine added many more features than its predecessor, including Blutooth, and an OLED touch screen, as well as two analogue sticks, instead of the PSPs single one.Sales were initially strong for the machine, but faded in the west over the next few years, mainly due to the high price of the memory cards, and PSP players who had installed their own firmware could not do so on the new machine.</p>
          <p class="text-white psText pl-5 pr-5 text-center"> PSVita has sold 10–15 million worldwide</p>
            <div class="col text-center">
    </div>
      </div>
    </div>
           <div class="col-md-12 col-lg-5 mt-5 mb-0">
      <img src="images/psvita.jpg" class="card-img carousel-img psStyle" alt="kid_with_tiger_plushy">
    </div>
  </div>
</div>
<!--End of Playstation Vita Div-->
    <!--Start of Playstation 4 Div-->
          <div class="container-fluid" id="ps4Style">
   <div class="row no-gutters carousel-bg">
    <div class="col-md-12 col-lg-5 mt-5 mb-0">
      <img src="images/ps4.jpg" class="card-img carousel-img psStyle" alt="kid_with_tiger_plushy">
    </div>
    <div class="col-md-12 col-lg-7 card-body align-items-center d-flex justify-content-center">
      <div class="card-body mt-5" id="cardBdy">
          <h1 class="text-center text-white"> PlayStation 4</h1>
          <p class="text-white psText pl-5 pr-5">The PlayStation 4 was launhed on November 28th 2013 and was the first console from Sony to introduce a x86 based architecture to their consoles which was a big improvement over the cell making developement alot easier. They also gave a complete redesign of the Dualshock giving it features such as a touchpad and a share button. Later in the consoles life cycle Sony revealed a mid cycle refresh known as the PS4 Pro giving 2.3x the graphical performance over the original console.</p>
          <p class="text-white psText pl-5 pr-5 text-center">The PS4 /PS4 Pro solid 114 million units worldwide</p>
            <div class="col text-center">
    </div>
      </div>
    </div>
  </div>
</div>
    <!--End of Playstation 4 Div-->
<!--Start of Playstation 5 Div-->
       <div class="container-fluid" id="ps5Style">
   <div class="row no-gutters carousel-bg">
    <div class="col-md-12 col-lg-7 card-body align-items-center d-flex justify-content-center">
      <div class="card-body mt-5" id="cardBdy">
          <h1 class="text-center text-white"> PlayStation 5</h1>
          <p class="text-white psText pl-5 pr-5">The PlayStation 5 was released worldwide on November 12, 2020, it's the most anticipated console of 2020 and sold out instantly on day of launch. It offers a huge leap in graphical performance of 3-4 times more power than the previous generation and offers a wide variety of features such as Ray Tracing. It also is the first console to do away with the traditional naming scheme with the controller, previously it was known as Dualshock and now Dualsense. This controller was the biggest improvement Sony has ever given to their controller adding haptic and adaptic features for an immersive experience  </p>
          <p class="text-white psText pl-5 pr-5 text-center">The PS5 solid 4-5 million units worldwide within 5 months of release</p>
           <div class="col text-center">
    </div>
      </div>
    </div>
           <div class="col-md-12 col-lg-5 mt-5 mb-0">
      <img src="images/ps5.jpg" class="card-img carousel-img psStyle" alt="kid_with_tiger_plushy">
    </div>
  </div>
</div>
<!--End of Playstation 5 Div-->
    <div class="navbar fixed-bottom navbar-light bg-light" id="cookieBar">
      <a class="navbar-brand text-white" href="#">{{message}}</a>
      <button class="btn btn-lg btn-secondary text-white" id="cookieBtn">Accept Cookies</button>
    </div>  